nb-card {
  max-width: 400px;
  max-height: 200px;
  @media (max-width: 480px) {
    max-height: 400px;
    .btn-primary {
      margin-bottom: 10px;
    }
  }
}

nb-card-footer {
  display: flex;
  justify-content: space-between;

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column-reverse;
  }
}
