<div class="row" *ngIf="step===0">
  <div class="col-xxl-12">
    <nb-card accent="info">
      <nb-card-header>Selecione o Estado</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12 col-12">
            <nb-list-item class="d-flex justify-content-between">
              <img src="assets/images/sp.svg" class="img-fluid" style="max-width: 100px;">
              <button class="btn btn-primary " (click)="advanceStep()">São Paulo</button>
            </nb-list-item>
          </div>
          <div class="col-md-12 col-12">
            <nb-list-item class="d-flex justify-content-between">
              <img src="assets/images/rj.svg" class="img-fluid" style="max-width: 100px;">
              <button class="btn btn-primary">Rio de Janeio</button>
            </nb-list-item>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>


<div class="row" *ngIf="step === 1">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-header>
        <a (click)="backStep()">
          <nb-icon icon="arrow-back-outline" status="primary" [options]="{ animation: { type: 'zoom' } }"
            style="font-size: 30px;"></nb-icon> <br>
        </a> Lista de Clientes SP </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12 col-12">
            <nb-list-item class="d-flex justify-content-between">
              <h6>Original</h6>
              <button class="btn btn-primary" (click)="advanceStep()">detalhes</button>
            </nb-list-item>
          </div>
          <div class="col-md-12 col-12">
            <nb-list-item class="d-flex justify-content-between">
              <h6>Fibra</h6>
              <button class="btn btn-primary ">detalhes</button>
            </nb-list-item>
          </div>
          <div class="col-md-12 col-12">
            <nb-list-item class="d-flex justify-content-between">
              <h6>Cielo</h6>
              <button class="btn btn-primary ">detalhes</button>
            </nb-list-item>
          </div>
          <div class="col-md-12 col-12">
            <nb-list-item class="d-flex justify-content-between">
              <h6>Azul</h6>
              <button class="btn btn-primary ">detalhes</button>
            </nb-list-item>
          </div>
        </div>
      </nb-card-body>
      <!-- <nb-card-footer></nb-card-footer> -->
    </nb-card>
  </div>
</div>

<div class="row p-2" *ngIf="step === 2">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-header><a (click)="backStep()">
          <nb-icon icon="arrow-back-outline" status="primary" [options]="{ animation: { type: 'zoom' } }"
            style="font-size: 30px;"></nb-icon>
        </a><br> São Paulo <br> Original </nb-card-header>
      <nb-card-body>
        <h6>Gestores dos clientes</h6>
        <div class="row p-2" style="background-color:#f7f9fc;">
          <div class="col-12 d-flex justify-content-end p-4">
            <button class="btn btn-primary">
              <nb-icon icon="person-add-outline" status="control" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
            </button>
          </div>
          <div class="col-4">
            <p>Luis Oliveira</p>
          </div>
          <div class="col-4">
            <p>luis@gmail.com</p>
          </div>
          <div class="col-4">
            <a href="#" class="mr-2">
              <nb-icon icon="trash-2-outline" status="primary" [options]="{ animation: { type: 'zoom' } }"
                style="font-size: 30px;"></nb-icon>
            </a> <a href="#">
              <nb-icon icon="edit-outline" status="primary" [options]="{ animation: { type: 'zoom' } }"
                style="font-size: 30px;"></nb-icon>
            </a>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <h6>Lista de WBS</h6>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">WBS</th>
                  <th scope="col">Nome do Projeto</th>
                  <th scope="col">Gestor Provider</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">231231231</th>
                  <td>Liguidação de Renovação</td>
                  <td>Claudio</td>
                  <td><button class="btn btn-primary" (click)="advanceStep()">detalhes</button></td>
                </tr>
                <tr>
                  <th scope="row">231231231</th>
                  <td>Liguidação de Renovação</td>
                  <td>Claudio</td>
                  <td><button class="btn btn-primary">detalhes</button></td>
                </tr>
                <tr>
                  <th scope="row">231231231</th>
                  <td>Liguidação de Renovação</td>
                  <td>Claudio</td>
                  <td><button class="btn btn-primary">detalhes</button></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end">
        <button class="btn btn-secondary" (click)="advanceStep(true)">Ver todas</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<div class="row p-2" *ngIf="step === 3">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-header>
        <a (click)="backStep()">
          <nb-icon icon="arrow-back-outline" status="primary" [options]="{ animation: { type: 'zoom' } }"
            style="font-size: 30px;"></nb-icon>
        </a> <br> São Paulo <br> Original <br><span *ngIf="!frag">BV-WBS 4878 <br></span>Gestor Provide: Cláudio
      </nb-card-header>
      <nb-card-body>
        <h6>Gestores dos clientes</h6>
        <div class="row p-2 my-2" style="background-color:#f7f9fc;">
          <div class="col-6">
            <p>Luis Oliveira</p>
          </div>
          <div class="col-6">
            <p>luis@gmail.com</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <nb-select placeholder="semestre" [(selected)]="selectedItem" class="mr-2">
              <nb-option value=""></nb-option>
              <nb-option value="0">1</nb-option>
              <nb-option value="1">2</nb-option>
            </nb-select>
            <nb-select placeholder="ano" [(selected)]="selectedItem">
              <nb-option value=""></nb-option>
              <nb-option value="0">2018</nb-option>
              <nb-option value="1">2019</nb-option>
              <nb-option value="1">2020</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Referência</th>
                  <th scope="col">Total de Recursos</th>
                  <th scope="col">TH</th>
                  <th scope="col">THN</th>
                  <th scope="col">THE</th>
                  <th scope="col">THSA</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">jan/2020</th>
                  <td>70</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td><button class="btn btn-primary" (click)="advanceStep()">detalhes</button></td>
                </tr>
                <tr>
                  <th scope="row">jan/2020</th>
                  <td>70</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td><button class="btn btn-primary">detalhes</button></td>
                </tr>
                <tr>
                  <th scope="row">jan/2020</th>
                  <td>70</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td><button class="btn btn-primary">detalhes</button></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end">
        <!-- <button class="btn btn-secondary">Ver todas</button> -->
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<div class="row p-2" *ngIf="step === 4">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-header> <a (click)="backStep()">
          <nb-icon icon="arrow-back-outline" status="primary" [options]="{ animation: { type: 'zoom' } }"
            style="font-size: 30px;"></nb-icon>
        </a><br> São Paulo <br> Original <br><span *ngIf="!frag">BV-WBS 4878 <br></span> BV - Março/2020
      </nb-card-header>
      <nb-card-body>
        <h6>Gestores dos clientes</h6>
        <div class="row p-2 my-2" style="background-color:#f7f9fc;">
          <div class="col-6">
            <p>Luis Oliveira</p>
          </div>
          <div class="col-6">
            <p>luis@gmail.com</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <h6>Lista de Recursos</h6>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"  *ngIf="frag">WBS</th>
                  <th scope="col">Nome</th>
                  <th scope="col">TH</th>
                  <th scope="col">THN</th>
                  <th scope="col">THE</th>
                  <th scope="col">THSA</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"*ngIf="frag">WBS 4289 - Liquidação de Renovação</th>
                  <th scope="row">Adyson</th>
                  <td>70</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td><button class="btn btn-primary" (click)="advanceStep()">detalhes</button></td>
                </tr>
                <tr>
                  <th scope="row" *ngIf="frag">WBS 4289 - Liquidação de Renovação</th>
                  <th scope="row">LH</th>
                  <td>70</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td><button class="btn btn-primary">detalhes</button></td>
                </tr>
                <tr>
                  <th scope="row" *ngIf="frag">WBS 4289 - Liquidação de Renovação</th>
                  <th scope="row">Matheus</th>
                  <td>70</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td>1000</td>
                  <td><button class="btn btn-primary">detalhes</button></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end">
        <!-- <button class="btn btn-secondary">Ver todas</button> -->
      </nb-card-footer>
    </nb-card>
  </div>
</div>


<div class="row p-2" *ngIf="step === 5">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-header> <a (click)="backStep()">
          <nb-icon icon="arrow-back-outline" status="primary" [options]="{ animation: { type: 'zoom' } }"
            style="font-size: 30px;"></nb-icon>
        </a><br>São Paulo <br> Original <br><span *ngIf="!frag">BV-WBS 4878 <br></span>Gestor Provide: Cláudio <br> BV - Março/2020
      </nb-card-header>
      <nb-card-body>
        <h6>Gestores do Cliente</h6>
        <div class="row p-2" style="background-color:#f7f9fc;">
          <div class="col-3">
            <p>Luis Oliveira</p>
          </div>
          <div class="col-3">
            <p>luis@gmail.com</p>
          </div>
          <div class="col-3">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">

            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">Recurso</th>
                  <th scope="col">Cargo</th>
                  <th scope="col">Email</th>
                  <th scope="col">Admissão</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Adyson da Silva</th>
                  <td>Consulto</td>
                  <td>adyson.moreira@provider-it.com.br</td>
                  <td>01/02/2020</td>
                </tr>
              </tbody>
            </table>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">HI</th>
                  <th scope="col">HT</th>
                  <th scope="col">H</th>
                  <th scope="col">Descrição</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">10</th>
                  <td>70</td>
                  <td>1000</td>
                  <td>Capacitação feita, aprendizado em computação avançada</td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td>70</td>
                  <td>1000</td>
                  <td>Capacitação feita, aprendizado em computação avançada</td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td>70</td>
                  <td>1000</td>
                  <td>Capacitação feita, aprendizado em computação avançada</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end">
        <!-- <button class="btn btn-secondary">Ver todas</button> -->
      </nb-card-footer>
    </nb-card>
  </div>
</div>


<!-- <div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div> -->